
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.history-item {
  display: inline-block;
  width: 90%;
  margin: 8px 24px;
  padding: 24px 16px 6px 16px;
  border: 1px solid #9e3b3b;
  border-radius: 16px;
  background: transparent;
  line-height: 1;
  transition: .3s;
  color: #555;
  text-decoration: none;
}
.history-item:hover {
  background: #9e3b3b;
  color: #fff;
}
.history-item ul li {
  padding-bottom: 2px;
}
.score-info, .janso-info {
  list-style: none;
}
.register-button {
  display: inline-block;
  width: 40%;
  padding: 8px 8px;
  border: 1px solid round($number:3) #9e3b3b;
  background: transparent;
  border-radius: 16px;
  line-height: 1;
  transition: .3s;
  text-decoration: none;
  color: #555;
}
.register-button:hover {
  background: #555;
  color: #fff;
}
