
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.history_item {
  display: inline-block;
  width: 90%;
  margin: 10px 20px;
  padding: 15px 10px;
  border: 1px solid #9e3b3b;
  background: transparent;
  line-height: 1;
  transition: .3s;
}
.history_item:hover {
  background: #9e3b3b;
}
.history_item a:hover {
  color: #fff;
}
.history_item ul {
  list-style: none;
}
.history_item a {
  color: #555;
  text-decoration: none;
}
